*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* .logotipo{
    padding: 10px;
} */
body{
    font-family: Arial, Helvetica, sans-serif;
}
.logotipo>a>img{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    object-fit: cover;
    float: left;
}
header{
    width: 100%;
    background-color:rgb(28, 40, 51, 0.9);
    position: fixed;


}  
.navegation{
    width: 80%;
    /* display: flex; */
    justify-content: space-between;
   align-items: center;
    margin:0  auto;
}
.navegation ul{
    list-style-type: none;
    text-align: center;
 
   
}
.navegation ul li{
    display: inline-block;
    padding: 25px 25px;
}
.navegation ul li:hover{
    background-color: rgb(62, 12, 199);
    border-radius: 5%;
}
.navegation ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.hide>i>img{
    width: 50px;
  height: 50px;
  object-fit: cover;
}

  .hide {
    padding: 16px;
    font-size: 22px;

    color: white;
    cursor: pointer;
    display: none;
  }
  
  @media (max-width: 768px) {
    ul li {
      width: 100%;
      padding: 15px;
      text-align: left;
    }
  
    .hide {
      display: block;
    }
  
    nav ul {
    display: none;
  
    }
  }
  /*----------------------------------------------------------
                IMAGENES-SLIDER                               
--------------------------------------------------------------*/
.slider{
    width: 100%;
}
.slider>.imagen-main>img{
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-position: center 0;
    height: 480px;

}
.lunch{
    position: absolute;
    margin: 10% 0  0 25%;
}
 .lunch>h1{
    text-align: center;
    font-size: 70px;
} 
.lunch>h2{
    text-align: center;
    font-size: 100px;
}
.lunch>p{
    background: #3F71EA;
    font-size: 20px;
    color:#000000;   
}


.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
.parent>.div1>img{
    width: 100%;
    height: 450px;
    object-fit: cover;
}
.parent>.div2> h1{
    text-align: center;
    box-sizing: border-box;
    padding-top: 20%;
    margin-bottom: 25px;
}
.parent>.div2>p{
    width: 80%;
    margin: auto;
}
/*----------------------------------------------------------
-

*/


.menu .titulo {
	font-size: 40px;
	font-weight: 300;
	text-align: center;
	margin-bottom: 40px;
}

.menu .contenedor-menu {
	border: 1px solid #000;
	background:transparent;
	padding: 10px;
	overflow: hidden;
}

.menu article {
	width: 50%;
	float: left;
	padding: 20px;
}

 .menu article .categoria {
	font-size: 22px;
	font-weight: 700;
	margin-bottom: 40px;
	text-align: center;
}

.menu article .platillo {
	overflow: hidden;
	margin-bottom: 30px;
	padding-bottom: 20px;
	border-bottom: 4px dotted #000;
}

 .menu article .nombre {
	font-size:20px;
	margin-bottom: 15px;
	float: left;
}

 .menu article .precio {
	float: right;
	font-size: 20px;
	margin-bottom: 15px;
}

 .menu article .descripcion {
	font-size: 16px;
	color: #676767;
	clear: both;
}

 .menu .contenedor-menu2 {
	border: 1px solid #000;
	background:transparent;
	padding: 10px;
	overflow: hidden;
}





  /*---------------------------------------------------------- 
                                FOOTER
    ----------------------------------------------------------*/

    footer {
        position: fixed;
        bottom: 0;
    }
    
    @media (max-height:800px) {
        footer {
            position: static;
        }
    }
    
    .footer-distributed {
        background-color: #2d2a30;
        box-sizing: border-box;
        width: 100%;
        text-align: left;
        font: bold 16px sans-serif;
        padding: 50px 50px 60px 50px;
        margin-top: 80px;
    }
    
    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
        display: inline-block;
        vertical-align: top;
    }
    
    /* Footer left */
    
    .footer-distributed .footer-left {
        width: 30%;
    }
    
    .footer-distributed h3 {
        color: #ffffff;
        font: normal 36px 'Cookie', cursive;
        margin: 0;
    }
    
    
    .footer-distributed h3 span {
        color: #e0ac1c;
    }
    
    /* Footer links */
    
    .footer-distributed .footer-links {
        color: #ffffff;
        margin: 20px 0 12px;
    }
    
    .footer-distributed .footer-links a {
        display: inline-block;
        line-height: 1.8;
        text-decoration: none;
        color: inherit;
    }
    
    .footer-distributed .footer-company-name {
        color: #8f9296;
        font-size: 14px;
        font-weight: normal;
        margin: 0;
    }
    
    /* Footer Center */
    
    .footer-distributed .footer-center {
        width: 35%;
    }
    
    .footer-distributed .footer-center i {
        background-color: #33383b;
        color: #ffffff;
        font-size: 25px;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        text-align: center;
        line-height: 42px;
        margin: 10px 15px;
        vertical-align: middle;
    }
    
    .footer-distributed .footer-center i.fa-envelope {
        font-size: 17px;
        line-height: 38px;
    }
    
    .footer-distributed .footer-center p {
        display: inline-block;
        color: #ffffff;
        vertical-align: middle;
        margin: 0;
    }
    
    .footer-distributed .footer-center p span {
        display: block;
        font-weight: normal;
        font-size: 14px;
        line-height: 2;
    }
    
    .footer-distributed .footer-center p a {
        color: #e0ac1c;
        text-decoration: none;
        ;
    }
    
    /* Footer Right */
    
    .footer-distributed .footer-right {
        width: 30%;
    }
    
    .footer-distributed .footer-company-about {
        line-height: 20px;
        color: #92999f;
        font-size: 13px;
        font-weight: normal;
        margin: 0;
    }
    
    .footer-distributed .footer-company-about span {
        display: block;
        color: #ffffff;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    
    .footer-distributed .footer-icons {
        margin-top: 25px;
    }
    
    .footer-distributed .footer-icons a {
        display: inline-block;
        width: 35px;
        height: 35px;
        cursor: pointer;
        background-color: #33383b;
        border-radius: 2px;
        font-size: 20px;
        color: #ffffff;
        text-align: center;
        line-height: 35px;
        margin-right: 3px;
        margin-bottom: 5px;
    }
    
    .footer-distributed .footer-icons a:hover {
        background-color: #3F71EA;
    }
    
    .footer-links a:hover {
        color: #3F71EA;
    }
    
    @media (max-width: 880px) {
        .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
            display: block;
            width: 100%;
            margin-bottom: 40px;
            text-align: center;
        }
        .footer-distributed .footer-center i {
            margin-left: 0;
        }
    
        }      
